./AndroidImportNew/.gradle
./AndroidImportNew/local.properties
./AndroidImportNew/.idea/workspace.xml
./AndroidImportNew/.idea/libraries
./AndroidImportNew/.DS_Store
./AndroidImportNew/app/build
./AndroidImportNew/build
./AndroidImportNew/captures
./AndroidImportNew/local.properties
